
<div class="columns">

  <div class="column"></div>

  <div class="column">
    <%= form_with(model: @monster, class: "control", local: true) do |f| %>

    <div class="field">
      <label class="label">Name</label>
      <div class="control">
      <%= f.text_field :name, class: "input", placeholder: "Name the monster" %>
      </div>
    </div>

    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <%= f.text_area :description, class: "textarea", placeholder: "Describe the monster"%>
      </div>
    </div>

    <div class="control">
      <%= f.submit class: "button is-primary" %>
    </div>
    <% end %>
  </div>

  <div class="column"></div>

</div>
