<div class="container mb-4">
  <h1> Monsters Index </h1>
  <button class="button is-primary">
    <span class="icon-text">
    <span class="icon">
    <i class="far fa-plus-square"></i>
    </span>
    <span><%= link_to "Create", new_monster_path(), class: "has-text-light"%></span>
    </span>
  </button>
</div>

<div class="container">
<%= will_paginate @monsters, :container => false, renderer: BulmaPagination::Rails, class: "is-centered is-small", next_label: ">", previous_label: "<" %>
</div>

<div class="container">
  <%= render 'monster' %>
</div>

<div class="container">
  <%= will_paginate @monsters, :container => false, renderer: BulmaPagination::Rails, class: "is-centered is-small", next_label: ">", previous_label: "<" %>
</div>