<!-- Bulma Hero Sample -->
<section class="hero is-fullheight-with-navbar" id="home-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-light">
        <span class="icon-text">
        <span class="icon">
          <i class="fas fa-moon"></i>
        </span>
        <span>
          Witchwood
        </span>
      </h1>
      <h2 class="subtitle has-text-light">
        Plug-and-play content for a 5E haunted endless forest setting.
      </h2>

      <a class="button is-primary">
        <span class="icon-text">
        <span class="icon">
          <i class="fas fa-compass"></i>
        </span>
        <span>
          Explore the Sea of Trees
        </span>
        <span>
      </a>
    </div>
  </div>
</section>
<body>

<!-- Bulma Section Sample -->
  <section class="section">
    <div class="container">
      <h1 class="title has-text-light">        
        <span class="icon">
          <i class="fas fa-tree"></i>
        </span>
        The Sea of Trees
      </h1>
      <h2 class="subtitle has-text-light">
        These lands have been cursed by <strong class="has-text-light">the Midnight Witch</strong>. An endless forest, full of her minions, stretches in every direction, and all who venture too deeply never return.
      </h2>
      <h2 class="subtitle has-text-light">
        <span class="icon">
          <i class="fas fa-landmark"></i>
        </span>
        Civilizations are scattered, settled on clearings throughout the forest. Most people don't risk travelling.
      </h2>
      <h2 class="subtitle has-text-light">
        <span class="icon">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        Danger increases as the forest grows thicker and the woods grow larger. Unnatural darkness and low temperatures permeate the deeper forest.
      </h2>

      <h2 class="subtitle has-text-light">
        <span class="icon">
        <i class="fas fa-low-vision"></i>
        </span>
        The forest is dark, and landmarks are hidden behind endless trees. It is extremely easy to get lost when going off the road.
      </h2>

      <h2 class="subtitle has-text-light">
        <span class="icon">
          <i class="fas fa-dragon"></i>
        </span>
        Monsters abound. Otherworldly beasts and the evil of <strong class="has-text-light">the Midnight Witch</strong> haunt these woods at night. 
      </h2>
      
      </h2>
    </div>
  </section>
</body>


<!-- Section containing tiles for menu -->
<section class="section">
  <div class="tile is-ancestor">

    <div class="tile is-3 is-parent container">
      <div class="box tile is-child has-background-light">
        <span class="icon">
          <i class="fas fa-paw"></i>
        </span>
        <h1 class="title"> Monsters </h1>
        <h2 class="subtitle">
          The beasts that roam the witchwood.
        </h2>
      </div>
    </div>

  <div class="tile is-3 is-parent container">
      <div class="box tile is-child has-background-light">
        <span class=icon>
          <i class="far fa-gem"></i>
        </span>
        <h1 class="title"> Items </h1>
        <h2 class="subtitle">
          Equipment, weapons, and treasure.
        </h2>
      </div>
  </div>

  <div class="tile is-3 is-parent container">
    <div class="box tile is-child has-background-light">
    <div class="container">
    <span class="icon">
    <i class="fas fa-map"></i>
    </span>
    </div>
      <h1 class="title"> Places </h1>
      <h1 class="subtitle">
        Locations, maps, and encounters.
      </h2>
    </div>
  </div>

  </div>
</section>