<!-- Bulma Hero Sample -->
<section class="hero is-dark is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Witchwood
      </h1>
      <h2 class="subtitle">
        Haunted Sea of Trees
      </h2>
    </div>
  </div>
</section>
<body>

<!-- Bulma Section Sample -->
  <section class="section">
    <div class="container">
      <h1 class="title">Section</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
    </div>
  </section>
</body>


<!-- Section containing tiles for menu -->
<section class="section">
  <div class="tile is-ancestor">

    <div class="tile is-3 is-parent">
      <div class="box tile is-child">
        <h1 class="title"> Monsters </h1>
        <h2 class="subtitle">
          The beasts that roam the witchwood.
        </h2>
      </div>
    </div>

  <div class="tile is-3 is-parent">
      <div class="box tile is-child">
        <h1 class="title"> Items </h1>
        <h2 class="subtitle">
          Equipment, weapons, and treasure.
        </h2>
      </div>
  </div>

  <div class="tile is-3 is-parent">
    <div class="box tile is-child">
      <h1 class="title"> Places </h1>
      <h1 class="subtitle">
        Locations, maps, and encounters.
      </h2>
    </div>
  </div>

  </div>
</section>