<!-- Bulma Hero Sample -->
<section class="hero is-fullheight-with-navbar" id="home-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-light">
        <span class="icon-text">
        <span class="icon">
          <i class="fas fa-moon"></i>
        </span>
        <span>
          Witchwood
        </span>
      </h1>
      <h2 class="subtitle has-text-light">
        Plug-and-play content for a 5E haunted endless forest setting.
      </h2>

      <a class="button is-primary">
        <span class="icon-text">
        <span class="icon">
          <i class="fas fa-compass"></i>
        </span>
        <span>
          Explore the Sea of Trees
        </span>
        <span>
      </a>
    </div>
  </div>
</section>
<body>

<!-- Bulma Section Sample -->
  <section class="section">
    <div class="container">
      <h1 class="title has-text-light">        
        <span class="icon">
          <i class="fas fa-tree"></i>
        </span>
        The Sea of Trees
      </h1>
      <h2 class="subtitle has-text-light">
        These lands have been cursed by <strong class="has-text-light">the Midnight Witch</strong>. An endless forest, full of her minions, stretches in every direction, and all who venture too deeply never return.
      </h2>
      <p>
        
      </p>
    </div>
  </section>
</body>


<!-- Section containing tiles for menu -->
<section class="section">
  <div class="tile is-ancestor">

    <div class="tile is-3 is-parent">
      <div class="box tile is-child has-background-light">
        <h1 class="title"> Monsters </h1>
        <span class=icon>
          <i class="fas fa-paw"></i>
        </span>
        <h2 class="subtitle">
          The beasts that roam the witchwood.
        </h2>
      </div>
    </div>

  <div class="tile is-3 is-parent">
      <div class="box tile is-child has-background-light">
        <span class=icon>
          <i class="far fa-gem"></i>
        </span>
        <h1 class="title"> Items </h1>
        <h2 class="subtitle">
          Equipment, weapons, and treasure.
        </h2>
      </div>
  </div>

  <div class="tile is-3 is-parent">
    <div class="box tile is-child has-background-light">
      <h1 class="title"> Places </h1>
      <h1 class="subtitle">
        Locations, maps, and encounters.
      </h2>
    </div>
  </div>

  </div>
</section>