@import "bulma";

#page-content{
  background-color:hsl(0, 0%, 4%) !important;
}

#home-hero{
  background-image: asset-url('dark-forest.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.is-primary{
  background-color: salmon !important;
}
.navbar-item{
  color: hsl(0, 0%, 96%) !important;
}

.navbar-item:hover{
  color: salmon !important;
  background-color: hsl(0, 0%, 4%) !important;
}

@keyframes darken {
  from {background-color:  hsl(0, 0%, 96%); } 
  to {background-color: hsl(0, 0%, 4%); }
}

.tile-button{
  background-color: hsl(0, 0%, 96%);
  animation-name: darken;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction:normal;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}


.tile-button:hover{
  animation-play-state: running;
}
