<footer class="footer has-background-black">
  <div class="content has-text-centered">
    <p class = "has-text-light">
        <small>Copyright &copy; <%= link_to "Jesus Alatorre", "https://alatorre.dev" %></small>
    </p>
  </div>
</footer>